/*Configurações Globais*/

* {
  box-sizing: border-box;
  margin: 0;
  bottom: 0;
}
:root{
  --bg-primary: #0057ff;
  --bg-secondary: #24d278;
  }
li{
  list-style: none;
}
a{
  text-decoration: none;
}
body, h1, h2, p, button {
  font-family: 'Poppins', sans-serif;
}
/*CSS Header*/

header{
  float: left;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 50%);

}

.navbar-light .navbar-toggler-icon {
  background-image: url(./assets/icon-list.svg) !important;
}

.navbar-light .navbar-toggler {
  color: transparent !important;
  border-color: rgba(0,0,0,.0) !important;
  border: none;
}

.navbar>.container-fluid{
  height: 99px;
  margin-left: 100px;
  margin-right: 100px;
}

.navbar-light .navbar-nav .nav-link {
  color: white!important;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: var(--bg-secondary);
  border-radius: 5px;
}


.navbar-expand-lg .navbar-nav {
  gap: 32px;
}
.navbar-collapse{
  flex-grow: 0 !important;
}


nav button {
  background-color: var(--bg-secondary);
  color: var(--bg-primary);
  font-weight: bold;
  border-radius: 5px;
  padding: 9px;
  width: 90px;
  border: none;
  font-size: 18px;
}

nav button:hover{
  background-color: #0241c0;
}

/*CSS Banner Home*/

#home-banner{
  background-image: url("assets/banner-home.png");
  background-size: 100vw;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
}

.content-banner{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 100px;
  margin-left: 100px;
}

.text-banner {
  max-width: 491px;
  margin-top: 100px;
  color: white;
}
.text-banner h2{
  font-weight: bold;
  font-size: 45px;
}

.text-banner p{
   margin-top: 20px;
}

.content-banner button{
  background-color: var(--bg-secondary);
  border: 5px solid var(--bg-secondary);
  color: var(--bg-primary);
  font-weight: bold;
  border-radius: 5px;
  padding: 18px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}
.button-banner .button-login{
  display: none;
}
.button-banner button:hover{
  background-color: white;
  border: 5px solid var(--bg-secondary);
}

/*CSS "Razões para escolher PGPay"*/

.reasons-choice{
  height: 30vh;
}

.card-reasons{
  margin-right: 60px;
    margin-left: 60px
}
.card{
  border: none !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.card-body {
  padding: 3rem !important;
  display: flex;
    flex-direction: column;
    gap: 12px;
    height: 400px;
}

.card-body img{
  width: 50px;
}

.text-reasons{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-reasons h2{
  color: var(--bg-secondary);
  margin-top: 12px;
}

.text-reasons .color-reasons{
  color: var(--bg-primary);
}
/*CSS section do Mapa mundi*/

#countries-banner .image-countries{
  width: 100%;
  
}
.text-countries{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 57px;
}
.text-countries div{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-countries h2{
  text-align: center;
  margin-top: 12px;
}

.text-countries p{
  text-align: center;
  width: 70%;
  margin-top: 12px;
}


.text-countries h5{
  color: var(--bg-primary);
  
}

/*CSS section exemplos de uso*/

#invoice{
  display: flex;
  justify-content: center;
}

#invoice .invoice-content{
  display: flex;
  width: 80%;
  gap: 116px;
  margin-top: 60px;

}

.invoice-examples{
  background-color: var(--bg-primary);
  flex:1;
  border-radius: 50px;
  display: flex;
    justify-content: center;
    align-items: center;
}

.invoice-examples ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 0;
  margin-top: 20px;

}




.invoice-examples li{
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 8px 16px;
  width: 130%;
}

.invoice-examples li img{
  width: 50px;
}

.invoice-examples li p{
  font-weight: bold;
  align-self: center;
}

.invoice-examples li .expenses p{
  opacity: 0.8;
  font-weight: normal;
}


.invoice-login{
  flex: 1;
}

#invoice button{
  background-color: var(--bg-primary);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 9px 16px;
  width: 90px;
  border: none;
  font-size: 18px;
}

#invoice button:hover, #card-home button:hover{
  background-color: var(--bg-secondary);
  color:var(--bg-primary);
}

#invoice-login .invoice-login-content{
  display: flex;
    flex-direction: column;
    gap: 10px;
}

.invoice-login-itens-check {
  display: flex;
    flex-direction: column;
    gap: 18px;
}


.invoice-login-content h5{
  color: var(--bg-primary);
}

.invoice-login-content h2{
  font-weight: bold;
}

.invoice-login-content h5 span{
  color: var(--bg-secondary);
}
.invoice-login-itens-check div {
  display: flex;
    align-items: center;
    gap: 8px;
}

.invoice-login-itens-check p{
  margin-bottom: 0;
}

/*CSS section card home*/

#card-home{
  display: flex;
  justify-content: center;
}

.infos-card-home{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 100px;
}

.infos-card-home-itens-check{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infos-card-home-itens-check img{
  max-width: 75vh;
}

.infos-card-home-itens-check div {
  display: flex;
    align-items: center;
    gap: 8px;
}

.infos-card-home-itens-check p {
  margin-bottom: 0;
}


.card-home-login{
  flex: 1;
  margin-bottom: 10px;
}

.card-home-login h6 {
  color: var(--bg-primary);
}
.image-card-home{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}



#card-home button{
  background-color: var(--bg-primary);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 9px;
  border: none;
  font-size: 18px;
}


/* Blog Home CSS */

#blog-home{
  background-color: rgba(0, 106, 254, 15%);
  padding-bottom: 50px;
  padding-top: 50px;
}

#blog-home h2{
  color: black;
  width: 90%;
  margin-bottom: 30px;
}

#blog-home a{
  text-decoration: none;
  color: var(--bg-primary);
  font-size: bold;
}

#blog-home a:hover{
  color: var(--bg-secondary);
}

#blog-home h2 span{
  color: #605B5B
}


#blog-home .card-body img{
  width: 250px;
  align-self: center;
  border-radius: 5px;
}

/* section Cell CSS */
#app-home {
  padding: 50px;
  display: flex;
  justify-content: center;

}

#app-home .image-cell-home{
  flex: 1;
}

#app-home .cell-button{
  flex: 1;
  color: white;
}

#app-home .cell-button h2 {
  margin-left: 5px;
  margin-bottom: 26px
}

#app-home .cell-button button{
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  width: 180px;
  height: 70px;
  font-weight: bold;
  border: none;
  color: white;
  padding: 10px;
  background-color: var(--bg-primary);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}
#app-home .cell-button button:hover{
  background-color: var(--bg-secondary);
}

#app-home .cell-button .buttons-app{
  display: flex;
  gap: 12px;
}


#app-home .cell-button img{
  width: 30px;
}

#app-home .background-cell {
  background-color: var(--bg-primary);
  width: 60%;
  height: 30vh;
  border-radius: 50px;
  display: flex;
  align-items: center;
}





/* Footer CSS */
footer{
  display: flex;
  flex-direction: column;
  border-top: 3px solid var(--bg-primary);
}

footer p {
  margin: 0;
}

.copy{
  display: flex;
  color: white;
  padding: 32px 0;
  background-color: var(--bg-primary);
  justify-content: center;
}

.footer-info{
  display: flex;
  justify-content: space-between;
  padding: 49px 100px;

}

.footer-info div{
  max-width: 331px;
}

.social-icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 5px;
  gap: 10px;
}
.social-icons img{
  max-width: 28px;
}


@media (max-width: 480px){

  #home-banner{
    background-image: url("assets/banner-home-mobile.png");
    background-attachment: inherit;
    height: 45vh;
  }

  #home-banner .content-banner{
    align-items: center;
    width: 100%;
    margin-left: 0px;
    justify-content: flex-start;
  }

  #home-banner .content-banner h2{
    font-size: 28px;
  }

  #home-banner .content-banner p {
    font-size: 18px;
  }

  #home-banner .content-banner button{
    padding: 10px 18px;
    margin-top: 0;
  }

  #home-banner .content-banner .text-banner{
    margin-left: 20px;
  }

  .image-countries img{
    max-width: 100%;
  }

  #card-home .infos-card-home{
    flex-direction: column-reverse;
  }

  .image-card-home img {
    width: 100%;
  }
  #invoice .invoice-content{
    flex-direction: column;
  }

  .footer-info{
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .navbar>.container-fluid {
    height: 99px;
    margin-left: 30px;
    margin-right: 30px;
}
  .container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .navbar-collapse{
    background-color: var(--bg-secondary);
    border-radius: 5px;
  }
  .navbar-expand-lg .navbar-nav{
    margin-left: 10px;
    gap: 15px
  }
 
  .button-banner .button-login{
    display: inline-block;
    background-color: var(--bg-primary);
    color: var(--bg-secondary);
  }
  #app-home .background-cell {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  #app-home .cell-button h2 {
    text-align: center;
  }
  #app-home .cell-button{
    margin-right: 0;
  }
  #app-home .cell-button .buttons-app{
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;
  }
  
  .social-icons {
    justify-content: center;
  }

  footer a{
    text-decoration: none;
    color: black;
  }
}