:root{
    --bg-primary: #0057ff;
    --bg-secondary: #24d278;
  }
  
  body {
    /* height: 100vh;
    width: 100vw; */
    background-image: linear-gradient(45deg, var(--bg-primary), var(--bg-secondary));
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  
  .imagem {
    text-align: center;
  }

  .imagem img {
    border-radius: 15px;
    width: 322px;
  }

  nav {
    text-align: center;
  }
    
  
  nav a {
    text-decoration: none;
    color: darkgreen
  }
  

    
  
   




    

  

  
