@import url(./style.css);

.banner {
    background-color: var(--bg-primary);
    height: 587px;
    background-image: url(./assets/banner-card.png);
    background-size: 100vw;
    background-repeat:no-repeat;
}


.container-cards {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;

}

.container-cards p,h5 {
    margin: 0;
}

.container-como-funciona {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.como-funciona {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary);
    width: 710px;
    border-radius: 29px;
    padding: 30px 0 70px 0 ;
}

.como-funciona h5{
    color: white;
    opacity: 43%;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.como-funciona h2{
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
}
.passos {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    width: 496px;
    padding: 27px 24px;
    gap: 40px;
    margin-top: 15px;
}


.passos h5{
    color: #393939;
    opacity: 100%;
    font-weight: 700;
    font-size: 22px;
    text-align: start;
}
.number {
    display: flex;
    background-color: var(--bg-secondary);
    height: 46px;
    width: 46px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.number p{
    font-size: 32px;
    color: white;
    margin: 0;
    
}

.apps {
    height: 57px;
}

.apps img {
    background-color: var(--bg-primary);
    height: 57px;
    border-radius:11px;
}

.apps img:hover{
    background-color: var(--bg-secondary);
}

.passo-container {
    display: flex;
    flex-direction: column;
    gap:10px
}

@media (min-width: 481px){
    .img-card-mobile {
        display: none;
    }
}

@media (max-width: 480px) {

    header {
           
            width: 100vw;
    }

    .banner{
        background-image: none;
        height: 697px;
    }
    .text-banner {
        display: flex;
        flex-direction: column;
    }

    .content-banner {
        display: flex;
        width: 100vw;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        padding: 0 30px;
    }

    .container-cards{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 10px;
    }

    .img-card-mobile img{
        margin-top: 62px;
        max-width: 400px;
        padding-left: 20px;
       
      
    }

    .text-banner {
        margin-top: 20px;
        color: white;
    }

    .text-banner h2 {
        text-align: center;
       font-size: 32px;
     }
    .text-banner p {
        text-align: center;
       font-size: 16px;
     }

     .como-funciona {
        width: 80vw;
     }

     .footer-info{
        text-align: center;
        padding: 49px 30px;
    flex-direction: column;
     }

     .container-cards{
        margin: 0 30px;
     }

     .passos{
        width: 60vw;
        text-align: center;
     }


    .text-countries p {
        text-align: center;
        width: 100vw;
        margin-top: 12px;
        padding: 0 30px;
        font-size: 12px;
    }

    .text-countries h5 {
        font-size: 14px;
    }
    .text-countries h2 {
        font-size: 20px;
    }

    .container-cards p,h5{
        text-align: center;
    }
    .container-cards p{
        font-size: 14px;
    }
    .container-cards h5{
        font-size: 18px;
    }

    .apps {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: auto;
        gap: 20px;
        
     
    }

    .passos h5{
        text-align: center;
    }
    
    .passo-container{
        align-items: center;
    }

    .footer-info{
        align-items: center;
        gap: 40px;
    }
    .footer-info div{
        align-items: center
    }

    .social-icons {
        justify-content: center
    }
   

  
}
