:root{
    --bg-primary: #0057ff;
    --bg-secondary: #24d278;
  }

body {
    /* height: 100vh;
    width: 100vw; */
  
    font-family: 'Poppins', sans-serif;
  }

  header {
    background-image: linear-gradient(45deg, var(--bg-primary), var(--bg-secondary));
  }
  
  
  .imagem {
    text-align: center;
  }

  .imagem img {
    border-radius: 15px;
    width: 322px;
  }

  h2{
    font-size: 50px;
    text-align: center;
  }

  nav {
    text-align: center;
    background-image: linear-gradient(45deg, var(--bg-primary), var(--bg-secondary));
  }
    
  
  nav a {
    text-decoration: none;
    color: black
  }
  